* {
  margin: 0;
  padding: 0;
  background-color: skyblue;
  animation-name: skypath;
}

.sun {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: yellow;
  animation-name: sunpath;
}

.grass {
  width: 100vw;
  height: 800px;
  background-color: green;
  margin-top: 70px;
}

@keyframes sunpath {
}

@keyframes skypath {
}
